visual_studio_project_ssis/feriados.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://services.sapo.pt/Metadata/Holiday" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetNationalHolidaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNationalHolidaysResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Holiday">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Name" type="xs:string" />
                    <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
					<xs:element minOccurs="0" name="Description" type="xs:string" />
                    <xs:element minOccurs="0" name="Type" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>